{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    Home
{% endblock %}

{% block content %}
        <h1 id="main_title"> Formulario de Registro </h1>

        <form action="/api/add_user" method="post">
            <label for="full_name">Nombre Completo: </label>
            <input id="full_name" name="full_name" type="text" placeholder="Ej. Pepito Pérez" required>
            <label for="email">Correo Electrónico: </label>
            <input id="email" type="text" name="email" placeholder="Ej. perezpetio@gmail.com" required>
            <label for="ls_city">Ciudad: </label>
            <select id="ls_city" name="ls_city">
               <option selected value="0"> Elige una opción </option>
                   <optgroup label="Colombia">
                   <option value="1">Bogotá</option>
                   <option value="2">Medellín</option>
                   <option value="3">Bucaramanga</option>
                   <option value="4">Cali</option>
                   <option value="5">Barranquilla</option>
                   <option value="6">Cartagena</option>
                   <option value="7">Pasto</option>
                   <option value="8">Mitú</option>
                   <option value="9">Cúcuta</option>
                   <option value="10">Manizales</option>
                   <option value="11">Ibagué</option>
                   <option value="12">Otra</option>
               </optgroup>
               <optgroup label="Extranjero">
                   <option value="13">Madrid</option>
                   <option value="14">Londres</option>
                   <option value="15">Montreal</option>
                   <option value="16">Paris</option>
                   <option value="17">Berlin</option>
                   <option value="18">Milan</option>
                   <option value="19">Roma</option>
                   <option value="20">Bruselas</option>
                   <option value="21">Atenas</option>
               </optgroup>
            </select>
            <input type="submit" value="Guardar">
        </form>
        <form action="/api/show_users" method="get">
            <input type="submit" name="btn_show" value="Mostrar Registros">
        </form>

{% endblock %}
